<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit job</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    .content {
        padding: 20px;
    }

    a#button {
        padding: 4px;
        color: black;
        border: 1px gray solid;
    }

    h5.error {
        color: red;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Hello, {{ name }}! Let's edit your job!</a>
        <a class="nav-link" href="/logout">Logout</a>
    </nav>
    <div class="content">
        <form action="/editjob/{{job.id}}" method="POST">
            {% csrf_token %}
            <h5>Title:
                <h5 class="error">
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.extra_tags == 'title' %}
                    <p>{{ message }}</p>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </h5>
                <input type="text" name="title" value='{{job.title }}'></h5>
            <h5>Description:
                <h5 class="error">
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.extra_tags == 'description' %}
                    <p>{{ message }}</p>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </h5>
                <input type="text" name="description" value='{{ job.description }}'></h5>
            <h5>Location:
                <h5 class="error">
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.extra_tags == 'location' %}
                    <p>{{ message }}</p>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </h5>
                <input type="text" name="location" value='{{ job.location }}'>
            </h5>
            <div class="buttons">
                <a href="/dashboard" id="button">Cancel</a>
                <input type="submit">
            </div>

        </form>
    </div>
</body>

</html>